begat/**/*.d.ts
begat/**/*.d.ts.map
begat/**/*.js
begat/**/*.js.map
contrib/**/*.d.ts
contrib/**/*.d.ts.map
contrib/**/*.js
contrib/**/*.js.map

!/example/**/*.js

.vscode/
dist/
docs/
node_modules/
tsconfig.tsbuildinfo
yarn-*.log

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
