package/**/*.d.ts
package/**/*.d.ts.map
package/**/*.js
package/**/*.js.map
example/**/*.d.ts
example/**/*.d.ts.map
example/**/*.js
example/**/*.js.map

.vscode/
dist/
docs/
node_modules/
tsconfig.tsbuildinfo
yarn-*.log

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
